.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.posts {
  width: 50%;
  margin: auto;
  text-align: center;
  vertical-align: top;
}

.backbutton {
  text-align: left;
  text-indent: 80px;
  padding-top: 30px;
  vertical-align: middle; 
  line-height: 1; 
  display: inline-block;
  width: 49%;
}

.submitbutton {
  text-align: right;
  text-indent: 40px;
  padding-top: 30px;
  direction: rtl;
  vertical-align: middle; 
  line-height: 1; 
  display: inline-block;
  width: 49%;
}

.space {
  margin-top: 0px;
}

.submission {
  width: 50%;
  margin: auto;
  vertical-align: middle;
  text-align: center;
  line-height: 2;
}

.image {
  max-width: 600px;
  max-height: 400px;
}